<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">BGT</a>
      <% if current_user %>
      <%= link_to "Home", user_path(current_user), class: "btn"%>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn" %>
      <% else %>
      <%= link_to "Login", new_user_session_path, class: "btn"%>
      <%= link_to "Register", new_user_registration_path, class: "btn" %>
      <% end %>
      <form class="search navbar-form">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
          <input type="submit" value="Search"/>
        </div>
      </form>
    </div>
  </div>
</nav>
