@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Akronim|Alegreya+Sans+SC|Bangers|Bungee+Hairline|Bungee+Outline|Bungee+Shade|Butcherman|Ceviche+One|Chicle|Concert+One|Condiment|Covered+By+Your+Grace|Creepster|Eater|Ewert|Faster+One|Finger+Paint|Freckle+Face|Fredericka+the+Great|Fredoka+One|Frijole|Hanalei|Holtwood+One+SC|Kalam|Knewave|Lemon|Luckiest+Guy|Metal+Mania|Monofett|Monoton|Nosifer|Press+Start+2P|Rye|Sancreek|Shojumaru|Shrikhand|Unica+One|Share+Tech+Mono');

body { padding-top: 52px; }

.invisible {visibility: hidden;}
.hidden {display: none;}
