@import "bootstrap";

body { padding-top: 60px; }

.navbar {
  background-color: white;
  box-shadow: 0 0 2px 0;
  height: 50px;
}

.navbar-header {
  display: flex;
  height: 50px;
}

.form-group { display: flex;}

.search { width: 300px; }
