.navbar {
  background-color: white;
  box-shadow: 0 0 2px 0;
  height: 50px;
}

.nav-btn {
  font-family: 'Bangers', cursive;
  color: #373a3c;
}

.navbar-brand {
  font-family: 'Bangers', cursive;
  color: #373a3c;
  size: 20px;
}
.navbar-brand:hover {
  color: #373a3c;
}

.navbar-header {
  display: flex;
  height: 50px;
}

.form-group {display: flex;}

.search {width: 300px;}
.search input[type='submit'] {visibility: hidden;}
.search input[type='text'] {
  border: none;
  cursor: pointer;
}
.search input[type='text']::-webkit-input-placeholder {color: #373a3c;}
.search input[type='text']:hover::-webkit-input-placeholder {color: #014c8c;}
