$image-size: 186px;

.search-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.search-result img {
  width: $image-size;
  height: $image-size;
  padding-right: 2px;
  padding-bottom: 2px;
}

.card {height: 300px;}

.card-title {
  font-size: 20px;
}

.friend {
  background-color: green;
  border: transparent;
  height: 38px;
}
.friend:hover {
  background-color: #bc1c1c;
  height: 38px;
}

.enemy:hover {
  background-color: green;
  border: green;
  height: 38px;
}
