body{
  background-color:#8c8f91;
}
.add-friend{
  margin-top:10px;
  text-align:center;
}
.friend-inform-container{
  border: solid 1px #bcb7b7;
  border-radius:10px;
  background-color:white;
  width:350px;
  margin-top:20px;
  margin-left:40%;
  margin-right:40%;
  display: block;
}

.profile-inform-container{
	background-color:white;
	width:350px;
	margin-top:20px;
	margin-left: 5%;
	border: solid 1px #bcb7b7;
	border-radius:10px;
}

.profile-inform-col{
	border-top:solid 1px #bcb7b7;
	text-align:center;
	padding-top:13px;
}

.inform-list{
	padding-left:0;
}

.profile-pic{
	height:300px;
	width: 250px;
	display: block;
    margin: 10px auto;
}

.game-image-size{
  	width: 100%;
  	height: 40%;
}

.row-container{
	background-color:white;
	margin-top:18px;
	margin-bottom:15px;
	margin-left: 5%;
	border-radius:10px;
	border: solid 1px #bcb7b7;
	width:93%;
	height:100%;
}

.game-pic-container{
  	margin-top: 10px;
  	padding-left:0;
  	padding-right:0;
  	height: 280px;
	width: 200px;
	margin-left:30px;
}

.profile-pic-container{
	margin-top: 10px;
  	padding-left:0;
  	padding-right:0;
  	height: 280px;
	width: 200px;
	margin-left:30px;
}

.profile-image-size{
	width: 100%;
  	height: 60%;
}

ul{
	list-style-type: none;
}

.game-pic-container:hover, .profile-pic-container:hover{
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.text-center{
	text-align:center;
}
 .img-rounded{
    border-radius:10%;
 }
